.button1,
.button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  width: 25px;
  height: 25px;
  margin: 2px;

  z-index: 2;
}

.accordion-item {
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
  color: #000;
  margin-bottom: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  max-width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  z-index: 2;
}

.counter {
  width: 100px; /* Фиксированная ширина для .counter */
  display: flex;
  align-items: center;
  justify-content: flex-end;

  z-index: 2;
}
.buttons-counter {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  z-index: 2;
}
.number {
  margin-right: 10px;

  z-index: 2;
}
